In [45]:
x = 1 
if x > 4:
 print ('big')
else: 
    print('small')

small

In [4]:
if True:
    #to do
    pass
else:
    print('not true')

In [5]:
#Ternary operator, expression
#combine if - else statements into a single line or expression
#true-exp if condition else false -expr
'True' if True else 'False'
['True' if i else 'False' for i in[True,False]]

['True', 'False']

In [16]:
#For Loops 

for i in range(5):
    print i

0
1
2
3
4

In [32]:
lst = [] #iterate through the range, where ever the condition is true i%2 then print that number.
for i in range (-10):
    if i%2==0:
        lst.append(i)
        continue
    print i 
[i for i in range (-10) if i%2 == 0]
arr = range(8)

for i in arr:
    print (-1 *arr[-i])

0
-7
-6
-5
-4
-3
-2
-1

In [18]:
#While Loop, while the condition is true it executes everything in this logic  . Be careful with these if you don't have a 
#stopping point it will run forever.
i = 0
while i <5:
    print i 
    i +=1
    if i == 4:
        break

0
1
2
3

In [20]:
for i in range (21):
    print i

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [55]:
#for loop that only prints even numbers
for i in range(21):
    if i%2 == 0:
        print(i) 
[ i for i in range(20) if i%2==0]

0
2
4
6
8
10
12
14
16
18
20

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [30]:
lst = range(-10,11)
print lst

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
for i in range(0, 10):
    if i % 2 == 0:
        print ('even')
else:
        print ('odd')

even
even
even
even
even
odd

In [60]:
arr = range(-10,10) 
[abs(i) for i in arr]
lst = maps(abs, arr)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
#Ternary operator
lst = ['Even' if i%2 == 0 else 'odd' for i in arr]
[i.upper() if i == 'Even' else i for i in lst]

#do functions and objects and classes at home

['EVEN',
 'odd',
 'EVEN',
 'odd',
 'EVEN',
 'odd',
 'EVEN',
 'odd',
 'EVEN',
 'odd',
 'EVEN',
 'odd',
 'EVEN',
 'odd',
 'EVEN',
 'odd',
 'EVEN',
 'odd',
 'EVEN',
 'odd']

In [74]:
def print_hello():
    print 'hello'
def print_name(name):
    print name
    
def add_number(x,y):
    return(x+y)
def print_name (name = 'Mike'):
    print name 
    #create a github account.

NameError: name 'name' is not defined

In [1]:
print("Hello World")

Hello World

In [2]:
name ="Kevin"
print name

Kevin

In [5]:

grocery_list=['Juice','Tomatoes','Potatoes','Bananas']

In [7]:
print('First Item',grocery_list[0]

('First Item', 'Tomatoes')

In [8]:
print(grocery_list[1:3])

['Tomatoes', 'Potatoes']

In [9]:
other_events =['Wash Car','Pick up Kids','Cash Check']

In [10]:
to_do_list = [other_events,grocery_list]

In [11]:
print(to_do_list)

[['Wash Car', 'Pick up Kids', 'Cash Check'], ['Juice', 'Tomatoes', 'Potatoes', 'Bananas']]

In [14]:
grocery_list.insert(1,"Pickle")

In [16]:
grocery_list.remove("Pickle")

In [17]:
grocery_list.sort()

In [21]:
grocery_list.reverse()

In [23]:
pi_tuple =(3,1,4,1,5,9)

In [24]:
print pi_tuple

(3, 1, 4, 1, 5, 9)

In [26]:
new_tuple = list(pi_tuple)

In [27]:
new_list = tuple(new_tuple)

In [29]:
len(tuple) min(tuple) max(tuple)

SyntaxError: invalid syntax (<ipython-input-29-43f58613ea0c>, line 1)

In [32]:
super_villians  = {'Fiddler':'Isaac Bowin',
                   'Captain Cold':'Leonard Snart',
                   'Weather Wizard':'Mark Mardon',
                  'Mirror Master':'Sam Scudder',
                  'Pied Piper':'Thomas Peterson'}

In [34]:
print(super_villians['Captain Cold'])

Leonard Snart

In [35]:
del super_villians ['Fiddler']

In [36]:
super_villains['Pied Piper']='Hartley Rathaway'

NameError: name 'super_villains' is not defined

In [37]:
print(len(super_villains))

NameError: name 'super_villains' is not defined

In [11]:
import pandas as pd
pd.read_csv('C:\\Users\\kmobolade\\Documents\\names.csv')

        Unnamed: 0      names sex  births  year
0                0       Mary   F    7065  1880
1                1       Anna   F    2604  1880
2                2       Emma   F    2003  1880
3                3  Elizabeth   F    1939  1880
4                4     Minnie   F    1746  1880
5                5   Margaret   F    1578  1880
6                6        Ida   F    1472  1880
7                7      Alice   F    1414  1880
8                8     Bertha   F    1320  1880
9                9      Sarah   F    1288  1880
10              10      Annie   F    1258  1880
11              11      Clara   F    1226  1880
12              12       Ella   F    1156  1880
13              13   Florence   F    1063  1880
14              14       Cora   F    1045  1880
15              15     Martha   F    1040  1880
16              16      Laura   F    1012  1880
17              17     Nellie   F     995  1880
18              18      Grace   F     982  1880
19              19     Carrie   F     949  1880
20              20      Maude   F     858  1880
21              21      Mabel   F     808  1880
22              22     Bessie   F     796  1880
23              23     Jennie   F     793  1880
24              24   Gertrude   F     787  1880
25              25      Julia   F     783  1880
26              26     Hattie   F     769  1880
27              27      Edith   F     768  1880
28              28     Mattie   F     704  1880
29              29       Rose   F     700  1880
...            ...        ...  ..     ...   ...
483858      483858     Janyce   F      66  1952
483859      483859     Johnny   F      66  1952
483860      483860    Kenneth   F      66  1952
483861      483861       Lani   F      66  1952
483862      483862    Lindsey   F      66  1952
483863      483863    Lisbeth   F      66  1952
483864      483864       Lura   F      66  1952
483865      483865  Thomasina   F      66  1952
483866      483866  Annamarie   F      65  1952
483867      483867    Babette   F      65  1952
483868      483868   Carletta   F      65  1952
483869      483869   Drucilla   F      65  1952
483870      483870       Iola   F      65  1952
483871      483871       Nena   F      65  1952
483872      483872      Tresa   F      65  1952
483873      483873     Allene   F      64  1952
483874      483874    Aurelia   F      64  1952
483875      483875     Fredia   F      64  1952
483876      483876      Kandy   F      64  1952
483877      483877       Kari   F      64  1952
483878      483878      Londa   F      64  1952
483879      483879      Merri   F      64  1952
483880      483880   Merrilee   F      64  1952
483881      483881     Myrtis   F      64  1952
483882      483882   Prudence   F      64  1952
483883      483883     Vonnie   F      64  1952
483884      483884      Wendi   F      64  1952
483885      483885    Deloise   F      63  1952
483886      483886   Isabella   F      63  1952
483887      483887  Kimberlee   F      63     1

[483888 rows x 5 columns]

In [9]:
df = names.head().copy()
df.index = df['names']
del df ['names']
df

NameError: name 'names' is not defined